[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "==5.0.*"}
asgiref = "<3.8.0"
typing-extensions = "*"
celery = "*"
requests = {extras = ["security"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
